.redactEditor__menu {
  box-sizing: border-box;
  position: fixed;
  width: 30vw;
  height: 100%;
  right: -25vw;
  top: 0;
  padding: 1rem;
  background-color: hsla(80, 80%, 80%, .8);
  transition: right .2s;
}

.redactEditor__menu:hover {
  right: 0;
}

.redactEditor__module {
  margin: 0;
  padding: .5rem;
  background-color: hsla(0, 0%, 0%, .2);
}

.redactEditor__module:hover {
  cursor: pointer;
}

.redactEditor__moduleLabel {
  margin: 0;
  padding: 0;
}
